._btn-theme {
    width: 100%;
    position: relative;
    text-align: center;
    background-color: $color-theme;
    color: $color-white;
    padding: 20px 50px;
    transition: 0.3s;
    font-weight: 500;
    border: none;
        
            ._btn-theme-left {
                position: absolute;
                top: 10px;
                left: 10px;
                border-left: 1px solid #fff;
                border-top: 1px solid #fff;
                height: 20px;
                width: 20px;
                }
            ._btn-theme-right {
                position: absolute;
                bottom: 10px;
                right: 10px;
                border-right: 1px solid #fff;
                border-bottom: 1px solid #fff;
                height: 20px;
                width: 20px;
                }
                &:hover {
                    background-color: $color-dark;
                    color: #fff;
                }
    
        }

