
    
    .banner {
        height: 310px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin-bottom: 60px;
        justify-content: space-between;
        max-width: 1110px;


        .banner-left,
        .banner-right {
            width: 33%;
            height: 100px;
            position: relative;
            text-align: center;

            .content-right {
                position: absolute;
                top: 75px;
                left: 50px;
            }
            .content-left {
                position: absolute;
                top: 75px;
                left: 350px;
            }
            p {
                font-size: 28px;
                font-weight: 700;
            }
            button {
                width: 195px;
            }
        }
        .banner-img-left { 
            height: 310px;
            width: 600px;
            background-color: aqua;
        }
        .banner-img-right { 
            height: 310px;
            width: 600px;
            background-color: aqua;
        }
    }
